<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="../index.html">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="about.html">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="skil.html">MY SKILLS</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="certificate.html">CERTIFICATE</a>
            </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Keterampilan -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
                        
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/arduino.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a href="https://github.com/WEN0APTA29/arduino-weno">
                <input class="skill__button" type="button" name="button_db" value="SHOW PROJECT">
              </a>
            </li>
          </ul>
        </form>
       </section>
       </main>
  </body>
</html>
